body {
	background-color: #202830;
	color: white;
}

.top-area {
	background-color: #303850;
	height: 125px;
	margin-left: -8px;
	margin-top: -30px;
	margin-right: -8px;
	margin-bottom: 50px;
	padding: 5px;
}
.title {
	font-family: "Minecraftia";
	font-size: 30px;
	text-align: center;
	margin: auto;
	width: 50%;
}
.normal-centered-text {
	font-family: Arial;
	margin: auto;
	width: 50%;
	text-align: center;
	font-size: 14px;
	margin-top: -50px;
	margin-bottom: 50px;
}
.minecraftia-centered-text {
	font-family: "Minecraftia";
	font-size: 15px;
	text-align: center;
	margin: auto;
	width: 50%;
}
.yt-sub-button-centered {
	margin: auto;
	width: 166px;
}
.subtitle-adjust {
	margin-top: -20px;
}
.top-area-button {
	background-color: #505080;
	color: #ffffff;
	border-color: #90909f;
	width: 150px;
	height: 30px;
	font-family: "Minecraftia";
	padding-top: 3px;
	margin-top: -10px;
}


@font-face {
	font-family: "Minecraftia";
	src: url("https://captrojothe3rd.github.io/Minecraftia.ttf");
}