body {
	background-color: #202830;
	color: white;
}


.title {
	font-family: "Minecraftia";
	font-size: 30px;
	text-align: center;
	margin: auto;
	width: 50%;
}
.normal-centered-text {
	font-family: Arial;
	margin: auto;
	width: 50%;
	text-align: center;
	font-size: 14px;
	margin-top: -30px;
	margin-bottom: 50px;
}
.minecraftia-centered-text {
	font-family: "Minecraftia";
	font-size: 14px;
	text-align: center;
	margin: auto;
	width: 50%;
}
.centered {
	margin: auto;
	width: 50%;
}


@font-face {
	font-family: "Minecraftia";
	src: url("https://captrojothe3rd.github.io/Minecraftia.ttf");
}